[2014-04-09 20:22] sckott opened #1 "API for polychaete traits"
Docs: http://polytraits.lifewatchgreece.eu/download-api
e.g.,1 http://polytraits.lifewatchgreece.eu/taxon/Syllis/json/?exact=0&verbose=1&assoc=0

e.g,. 2 http://polytraits.lifewatchgreece.eu/traits/1,2/json/?verbose=1&assoc=1 (this call doesn't work, just returns null)

also, response type isn't properly formattted

[2014-04-09 21:09] sckott opened #2 "EOL traitbank"
supposed to be getting early access soon...

[2014-04-11 00:05] dlebauer opened #3 "BETYdb API"
Our API is implemented, but has not been widely used, so it would benefit from feedback and pull requests.

* repo: https://github.com/PecanProject/bety/
* documentation by example:  https://authorea.com/users/5574/articles/7062/
* PEcAn interface to BETYdb (uses DBI interface: https://github.com/PecanProject/pecan/tree/master/db/R)

Most of the tables will return results with many uninformative f

[2014-04-11 05:51] dlebauer opened #5 "What data will rotraits query and return (what is a "proper" API format)?"
in gh-1, the issue says that "response type isn't properly formatted".

What is the proper format?
What data do you want to query?
How do you want to provide it?

I ask (related to gh-3) because we are working on this and want to know how to make our API more useful, and perhaps help contribute to / facilitate this package.

An example of data that we provide for download as csv is [this gist](htt

[2014-07-08 05:52] sckott opened #6 "Possible data source: LEDA"
http://www.leda-traitbase.org/LEDAportal/data_files.jsp

[2014-07-08 05:54] sckott opened #7 "Possible data source: PLANTATT"
Just a zip file downloaded from http://www.brc.ac.uk/downloads/PLANTATT_19_Nov_08.zip (link broken now)

From this site http://www.brc.ac.uk/resources.htm (also broken)

description of it http://nora.nerc.ac.uk/9535/

Already downloaded locally, will check it out

[2014-08-30 16:27] sckott opened #10 "Make explanation of seqrange parameter better in ncbi_* functions"
See comment in ropensci/taxize#328

[2014-08-31 07:27] sckott opened #11 "New pkg (TR8) that gets trait data"
http://cran.r-project.org/web/packages/TR8/index.html

[2014-09-20 01:47] sckott opened #12 "Bird Life International data"
from convo in ropensci/taxize#344 from @davharris

Code in his branch at https://github.com/davharris/traits/commit/cfa8c8200b6397c0868b8f7c4b29dd9c5d362768

[2015-01-12 04:29] kgturner opened #15 "possible data source: trophic interactions"
https://zenodo.org/record/13751?ln=en#.VLNE-XudtZ8

Currently embargoed, but authors intend to make it open.

[2015-01-12 06:43] sckott commented on #15
Thanks! We'll have a look

[2015-01-29 00:29] dlebauer commented on #3
@sckott let's chat so we can define the functions' input and output

[2015-01-29 00:43] sckott commented on #3
sounds good

[2015-01-30 19:20] sckott opened #16 "EML for trait data"
hey @cboettig

@dlebauer and I were talking about EML - We're curious - Do you think EML could be used in this package as a way to output a common format across the various sources of trait data?  That is, various sources used in this package return different things (e.g., a list of metadata and data, or just a dataframe), but would be cool to serialize to a common format like EML - which would ha

[2015-01-30 22:45] sckott commented on #3
@dlebauer got first fxn for bety - see the readme - any feedback?

Also, Are there more docs for the API besides https://www.authorea.com/users/5574/articles/7062 ?  There are some parameters you use in the examples, but there isn't a clear list of definitions of each parameter, and which parameters are allowed with each endpoint (/traits, /species, etc.)

[2015-01-31 00:00] sckott commented on #3
@dlebauer okay, updated with more fxns - see readme https://github.com/ropensci/traits#betydb

Does it make sense to have two functions for each endpoint? e.g. for `/citations` have `bety_citations()` and `bety_citation()` where the latter requires an ID and other parameters and will give back a list with variable output given input params - while the former always gives back a data.frame

[2015-01-31 05:35] dlebauer commented on #3
Thanks! This is a good place to start. My next step will be to test these out to see what they are doing, and have asked @phenolphtalein to explain your questions and update the documentation in PecanProject/bety#207.

My initial impression is that we should not expose any uses of keys in the arguments of exported functions, in order to prevent humans from having to reference records by arbitrary

[2015-02-01 19:03] sckott commented on #3
@dlebauer It's quite common, in my experience, for APIs to allow retrieval of whatever the thing is they provide by its unique ID. For example, GBIF does this for each species, dataset, and occurrence. All taxonomic of course do this.   But if you don't want to allow it, then that's cool. Up to you. If you want to allow it, a workflow might be where a user searches e.g., for species, then gets ids

[2015-02-01 19:17] sckott opened #17 "Add vignettes"

[2015-02-08 05:13] dlebauer opened #18 "no access to BETYdb api"
### What I want to do:

To evaluate the new bety functions, I started with the examples in the `bety_traits` function and in the README:

[code]

So I try the key and user/pwd options:

[code]

### What I tried:

[code]

[code]

Now that I've gotten into the `httr` package, which I have very little experience with - I see the `GET` and `authenticate` functions, but I can't tell at this point if th

[2015-02-08 06:12] sckott commented on #18
@karthik @cboettig Maybe you already know how to deal with the problem above with the cert file? If not, can you try a few examples so we can see if problems @dlebauer has is general:

Try as an example (after installing latest via `install_github("ropensci/traits")`):

[code]

[code]

there's more egs in the readme https://github.com/ropensci/traits#traits-1

[2015-02-08 07:06] sckott commented on #18
@dlebauer I think it's something wrong with the cert file needed for httr, see eg. , http://stackoverflow.com/questions/26753746/rcurl-or-httr-specifying-cert-info

just tried on a linux docker image runing carl's rocker/hadleyverse, and the example works fine, so i think it is just that cert file

[2015-02-09 18:56] sckott commented on #18
@dlebauer this still not working for you?

[2015-02-09 19:52] dlebauer commented on #18
The example works on both a RHEL server and a Windows desktop.

The original bug on my Ubuntu desktop still holds. I didn't find the stackoverflow post very informative - it is unanswered and I don't understand authentication or curl well enough to translate the example (and that would only allow me to reproduce the error, not fix it). So I still don't know what the problem is or how to debug it.

[2015-02-09 19:58] sckott commented on #18
@dlebauer can we do a screen share at some point, so I can see what's going on your ubuntu desktop?  I tried on ubuntu and it worked good, so i think we need to fix a curl problem for you

[2015-02-09 20:54] #18 closed

[2015-02-09 20:57] dlebauer commented on #18
Thanks @sckott and @cboettig for your help. The fix was installing `libcurl4-openssl-dev` and updating the `Rcurl` package

[code]

[2015-02-09 21:00] sckott commented on #18
@dlebauer  thanks for the confirmation on what worked

[2015-02-09 21:34] dlebauer commented on #17
what is `inst/vign`?

[2015-02-09 22:04] dlebauer opened #21 "betydb_traits function does not use genus, species arguments"
When I pass different genus and species arguments to the `betydb_traits` function, the results should be different.

Specifically, there should be no overlap in the result sets since the results will be associated with one species or the other but not both.

The functions `betydb_traits` and `betydb_yields` are currently commented out in the source code (end of [R/betydb.R](https://github.com/rope

[2015-02-10 01:05] sckott commented on #17
it's where i store vignettes

[2015-02-10 04:47] sckott commented on #21
@dlebauer i don't quite understand what you mean, can you clarify?

[2015-02-10 05:05] dlebauer commented on #21
The `  expect_false(mxg == pavi)` test fails.

I would expect different results when querying data for different species. I assume the command

[code]

To be equivalent to the sql query:

[code]

There is only one species per row, so querying different species should return different rows.

[2015-02-10 05:36] dlebauer commented on #21
Seems to be the API, so I submitted the bug PecanProject/bety#224

Next time I will be more careful :boom:

[2015-02-10 05:40] sckott commented on #21
was just testing, seems to be the API gives the same results

[2015-03-24 10:44] ibartomeus opened #24 "create is.not.native() function based on native plant lists."
Lists of "invasive" species are not only hard to get, but too dynamic to maintain. Hence the approach of is.invasive() fails for more research questions due to data availability. This is not going to be fixed anytime soon.

For most research questions the reverse question is also suited. is.not.native(x, region = "Spain") based on comparing your species pool with the list of native plants of the a

[2015-03-24 16:53] sckott commented on #24
this sounds great @ibartomeus

I know some of the sources in taxize have nativity http://www.itis.gov/ws_tsnApiDescription.html#getJurisdictionalOrigin and related function in `taxize`: https://github.com/ropensci/taxize/blob/master/R/itis_native.R

Storing them in this or another package sounds good if the data is small enough and the data doesn't change that often - it's hard to get frequent cha

[2015-03-24 16:54] karthik commented on #24
I'll start a new repo with the notes we discussed on this. And then we can decide how to take that challenge on separately.

[2015-03-24 22:24] ibartomeus commented on #24
Data available:

ITIS. Only covers North America and lumps all continental US. not sure if
for all taxa, but plants and the animals I tried has it, itis_native()
function already does more or less the job for that.

USDA plants has nice state checklist for the US (includes invasive status).
Those can be exported and stored somewhere else. The pain is updating it
whenever USDA PLANTS updates its da

[2015-03-24 23:57] sckott commented on #24
USDA said they were going to put out an API, but it's been so long now, I doubt it will ever happen. So i imagine you want to simply scrape their website each time it's needed

The Flora Europaea solution sounds good. If I think over other data sources

[2015-04-24 00:46] sckott opened #25 "Betydb changes?"
hey @dlebauer anything we need to change here regarding https://zenodo.org/record/17128 ?

[2015-04-24 01:57] dlebauer commented on #25
We are working on it in https://github.com/dlebauer/traits ... mostly to support development of this package, so if anything the current API should work better.

I'll review the recent changes and submit a pull request with our recent updates shortly.

[2015-04-24 01:58] sckott commented on #25
@dlebauer great!  sounds good

[2015-04-24 05:05] dlebauer commented on #25
@sckott ... I've been reviewing some or the recent changes to the R functions by @phenolphtalein ... but they are broken ... so it may take a few more days. If you want to take a look, I am getting stuck on the way `httr::GET` creates a url.

... the code I've been working on with new (broken!) tests are in my `dlebauer/query-fix` branch  https://github.com/dlebauer/traits/tree/dlebauer/query-fix

[2015-04-24 13:53] sckott commented on #25
what part exactly?  in general, `GET` takes as first param the base URL (e.g., `http://stuff.com`), then anything that comes after a `?` goes into the `query` parameter (unless they are curl options or body values). commented on a commit

[2015-04-24 21:06] dlebauer opened #26 "Merge BETYdb table queries into a single generic function"
## Create a single function to query tables in BETYdb.

waiting / depends on #77
## Features to implement:
- [ ] Replace `betydb_<tablename>` functions with one function that takes tablename as an argument
  - call should be something like `betydb_query(table = 'citations', key = '', baseurl = 'https://www.betydb.org', apiversion = 'beta', ...)`
  - default key, baseurl, apiversion as above
  - (@

[2015-04-24 22:47] #3 closed

[2015-04-24 23:06] sckott commented on #26
@dlebauer okay, thanks

[2015-05-07 20:49] ibartomeus commented on #24
After playing a bit I learnt:

- USDA plants provides same info about native/introduced as ITIS. As far as I understand, the state data is only about occurrence, and do not distinguish status: http://plants.usda.gov/about_adv_search.html#state_provincedist
I started a function (https://github.com/ibartomeus/traits/blob/master/R/usda_native.R) to check against a csv file downloaded from USDA PLANT

[2015-05-07 20:49] #24 closed

[2015-05-07 21:53] sckott commented on #24
hi @ibartomeus - thanks for the summary. So you will send a PR?

[2015-05-07 22:02] ibartomeus commented on #24
Done! Happy to chat about anything that needs clarification.

On Thu, May 7, 2015 at 11:53 PM, Scott Chamberlain <notifications@github.com

--
Ignasi Bartomeus PhD
www.bartomeuslab.com
@ibartomeus
Skype: nachobartomeus

Dpto. Ecología Integrativa
Estación Biológica de Doñana (EBD-CSIC)
Avda. Américo Vespucio s/n
Isla de la Cartuja
41092, Sevilla (Spain)

[2015-05-07 23:34] sckott commented on #24
thanks!

[2015-05-12 19:40] dlebauer commented on #25
@sckott I added some tests, and thought they were passing - so I have two questions:

1. Is this repository hooked to Travis CI, or is there regular evaluation of tests?
2. I'd like to get these fixed. I am stuck (again) at

I want to search for Willow Vcmax data:

[code]

ultimately I get to

[code]

Which does not restrict the query to either the species ('Salix') or the trait ('Vcmax'). Perhaps

[2015-05-12 19:59] sckott commented on #25
hi @dlebauer

- Yes, Travis is hooked up. Builds at https://travis-ci.org/ropensci/traits/builds I just don't have the travis badge in the readme, I'll add that
- Not sure on that query, I'll take a look

[2015-05-12 20:32] dlebauer commented on #25
@sckott

* Does Travis run the package tests (I've fixed them)?

* not sure why the query didn't work, but I think the answer is that `GET` function does some magic URL construction so I don't need to insert the `+` symbol. E.g.

[code]

works as expected ...

I'll send a pull request later with my updates

[2015-05-12 22:32] dlebauer commented on #25
@sckott Let me know if I should post this on stackoverflow ... I am unfamilar with the httr package and a bit overwhelmed by `httr_options()`.

I can start pasting strings together but also recognize that it is easier to let httr deal with special characters, etc., if it is able.

So, I want to paste together some `include=[]` strings and pass to the `GET` function?, for example, I want to constru

[2015-05-12 22:45] sckott commented on #25
@dlebauer hmmm, just trying URLs in a browser, I can get other endpoints to work, e.g https://www.betydb.org/traits.json , but `/search.json` doesn't seem to work in the browser

[2015-05-13 01:22] dlebauer commented on #25
when you say `/search.json` doesn't seem to work, I assume you mean https://www.betydb.org/search.json, which seems to work for me (if slow because the result is large). But https://www.betydb.org/search.json?genus=Acer should be faster.

the trouble I am having is in the named list, e.g. is this what should work?

[code]

[2015-05-13 04:45] sckott commented on #25
Ah, okay, maybe it just was taking a long time.

Yeah, I can't get those `include[]` variables to work. Again, that `[]` is very unusual. I'll keep digging to see what works

[2015-05-13 05:28] dlebauer commented on #25
@gsrohde, @mulrooney @phenolphtalein is there an alternative to using the `[]` syntax in constructing the URL? Can it be omitted or somehow

[2015-05-13 05:36] dlebauer commented on #24
@ibartomeus  @sckott   We have the usda plants database available at betydb.org/species.json if you want to give it a try. Note that we have added a few columns and rows.

Also note that the usda plants database has lots of columns that can be dropped / excluded from the API to limit size (and most columns could be converted from text to Boolean or enum data types to save substantial space

[2015-05-13 05:41] sckott commented on #24
nice, thanks  @dlebauer - USDA said they'd come out with some APIs, but no dice yet

[2015-05-13 14:07] dlebauer commented on #24
@sckott usda plants is pretty much a flat table. We can import updates as necessary, and voila, an API

[2015-05-13 18:55] gsrohde commented on #25
@dlebauer The short answer is that you can program any API you want if one is willing to do the work.  The advantage of the include[]= syntax is that that is the built-in way of representing an array of values connected with a single key.  For example, if you had a form with a group of checkboxes or a multi-select box, the portion of the query string constructed from this would look like "key[]=va

[2015-05-13 18:58] dlebauer commented on #25
Ok. It's not implemented for the search.json endpoint. that's okay. I'll
fiddle a bit more.
On Wed, May 13, 2015 at 1:55 PM Scott Rohde <notifications@github.com>
wrote:

[2015-05-13 19:23] sckott commented on #25
@gsrohde thanks for the feedback.

thanks, now that makes more sense

[2015-05-27 18:27] sckott commented on #26
@dlebauer should I close this ?  Looks like your #27 PR address this, right?

[2015-05-27 18:29] sckott commented on #25
@dlebauer I'm removing trait related functions from `taxize` that have been moved here, and I'd like this package to be on CRAN soon so that users can still get to trait related fxns easily via CRAN

let's try to wrap up any betydb stuff soon for the v0.1 push to CRAN

[2015-05-28 02:00] dlebauer commented on #25
When do you want to push to CRAN?

[2015-05-28 02:30] dlebauer commented on #26
@sckott no, I made this issue at the same time as #27 as a place-holder for re-implementing the broken functions that I removed in that pull request.

The test file in PR #29 has the following function that doesn't work, which is where I got stuck trying to put the URL together ... I'd appreciate help on that ... (here is the [API documentation](https://www.authorea.com/users/5574/articles/7062/_s

[2015-05-28 14:44] sckott commented on #25
@dlebauer in the next week or two would be good

[2015-05-28 20:16] sckott commented on #5
closing

[2015-05-28 20:16] #5 closed

[2015-05-28 20:18] sckott commented on #2
closing, included

[2015-05-28 20:18] #2 closed

[2015-05-28 20:19] sckott commented on #1
yuck, this data source is way too messy, don't want to deal with this

[2015-05-28 20:19] #1 closed

[2015-05-28 21:01] #6 closed

[2015-05-29 17:51] davharris commented on #12
Two tables down, but there are a few more still worth grabbing.

Any idea what's going on in the first table on [this page](http://www.birdlife.org/datazone/species/factsheet/22721692/additional) (red list criteria)? Is the species "Critically Endangered" AND "Endangered" AND "Vulnerable	"? Any idea what the second column is talking about (e.g. "B2ab(i,ii,iii,v)")?

Thanks!

[2015-05-29 19:09] sckott commented on #12
TBH I haven't looked at IUCN stuff much at all.  And Ed is the one that wrote the iucn fxns in this pkg.

on this page http://www.iucnredlist.org/static/categories_criteria_3_1 go to the section `Annex 2: Citation of the IUCN Red List Categories and Criteria`

Seems that e.g., `B2ab(i,ii,iii,v)` is another way of saying `EN` as well as that i, ii, iii, v subsections apply within `B2ab`

[2015-05-29 19:10] davharris commented on #12
Okay, thanks.  I’ll follow up on the criteria when I have some more time.  Appreciate the pointer!

[2015-06-11 19:13] #17 closed

[2015-06-11 19:13] sckott commented on #12
closing

[2015-06-11 19:13] #12 closed

[2015-06-11 19:44] sckott commented on #10
done

[2015-06-11 19:44] #10 closed

[2015-06-18 16:41] mpnelsen opened #31 "gene seqs from ncbi by txid"
Hi - I'm wondering if it's possible to modify the ncbi_byname function to query by txid instead of organism name?  In the original ncbi_byname function, I've changed taxa->txid and [Organism]->[Organism:noexp], and re-executed, but it's having trouble finding the make_ids function (and I can't track it down on GitHub).  Is there an easy way to add this capability (search by txid) into this functio

[2015-06-18 16:53] sckott commented on #31
thanks for the good question @mpnelsen - wrt `make_ids` first...

`make_ids()` is an internal function in the package. While in R, you can find internal functions using triple colon `:::`, so `traits:::make_ids` should print out the function for you, that gives

[code]

Weird, tried to search on Github and it doesn't find where the function is defined. Anyway, usually that should work :)

[2015-06-18 16:57] mpnelsen commented on #31
thanks very much!  problem solved!

[2015-06-18 16:57] sckott commented on #31
now wrt searching by taxonomic id, is this the taxon you were searching for in your example in the script http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=27344

That's a good idea to search by taxonomic id. Maybe we should make a generic S3 function that dispatches on character or numeric ID input for either genbank ID, or taxonomic ID, and could use `taxize` to get IDs, then pass into

[2015-06-18 17:00] mpnelsen commented on #31
that's the taxon.  and that sounds perfect.  that's exactly how i was trying to do it.  thanks much!

[2015-06-18 17:01] sckott commented on #31
So that would be useful to add support for your use case in this package?

[2015-06-18 17:11] mpnelsen commented on #31
it would be, but i can do it myself if it would have limited use.

[2015-06-18 17:14] #31 closed

[2015-06-18 17:20] sckott opened #32 "Generalize ncbi_by* to work on taxonomic IDs"
from #31

both from character/numeric tax id and from `taxize` id classes

[2015-06-18 17:20] sckott commented on #31
cool, i'll take a look and see if it's feasible to add, follow new issue #32

[2015-06-19 00:51] mpnelsen opened #33 "parsing taxon name/gene_desc in ncbi_searcher"
Hi - I'm having a minor issue when using ncbi_searcher.  I've encountered an ncbi accession for which the taxon name and gene_desc are parsed in an undesired fashion.  I think perhaps the first two words of the definition are used as the taxon name, and the remainder goes to gene_desc...but this particular accession description begins 'UNVERIFIED: Genus species ...', so the output for taxon name i

[2015-06-19 01:11] sckott commented on #32
hmm, forgot that we have taxid support in `ncdbi_searcher()` - did you see that @mpnelsen ?

[2015-06-19 01:20] mpnelsen commented on #32
thanks - yes, i had.  i was initially interested in ncbi_by* b/c it automatically selects the longest sequence (which is what i was after), but i'm just parsing the output from ncbi_searcher and grabbing the longest that way.

[2015-06-19 01:31] sckott commented on #33
hi @mpnelsen - good catch!

I'll see if I can fix the parsing on this

[2015-06-19 01:34] mpnelsen commented on #33
thanks much.  i tried tinkering with a couple of functions but was unsuccessful in tracking it down.

[2015-06-19 02:42] sckott commented on #33
@mpnelsen okay, reinstall from github `devtools::install_github("ropensci/traits")`, then try that eg again. Should get

[code]

[code]

[2015-06-19 02:43] sckott commented on #33
the `gene_desc` now isn't parsed at all b/c it's too hard to parse the names off the front given the variation in that string, make a separate call to the taxonomy database to get the taxonomic names: https://github.com/ropensci/traits/blob/master/R/ncbi_searcher.R#L204-L218

[2015-06-19 02:51] mpnelsen commented on #33
thanks very much!

[2015-06-19 02:51] #33 closed

[2015-06-19 02:52] sckott commented on #33
np :) :+1:

[2015-06-19 19:08] mpnelsen opened #34 "Undesired added bonus w ncbi_searcher using id (var.)"
Not trying to be a troublemaker, but I've encountered another minor issue with the the ncbi_searcher function.  I'm using the txid number and it's retrieving the accessions of interest, but it's also retrieving accessions for varieties, forms, etc of the same species (which actually have different txid numbers).  I know I can find filter the output and just extract the sequences i'm interested in

[2015-06-19 19:56] sckott commented on #34
hi, not troublemaking at all - super useful in fact!  there's nothing better than a user finding a potential problem

this is what we're using https://github.com/ropensci/traits/blob/master/R/ncbi_searcher.R#L124  the `porgn`  - makes sense if searching by taxonomic ID to only get records that match that ID exactly

[2015-06-19 20:27] sckott commented on #34
@mpnelsen can you reinstall from github, then try again?

see the new `fuzzy` parameter. releavant change is extracted here:

[code]

We needed to retain a fuzzy option since the `getrelated` parameter would have done nothing if we only allowed `txid<ID>` searches

[2015-06-19 20:46] mpnelsen commented on #34
works perfectly!  thanks again.

[2015-06-19 20:46] #34 closed

[2015-06-19 21:07] sckott commented on #34
:+1:

[2015-06-20 19:51] mpnelsen opened #35 "ncbi_searcher - retrieve only refseqs?"
Hi again.  Is it possible to use ncbi_searcher to only search for refseqs?  If not, would it be possible to add this functionality (perhaps an if/else statement around lines 130-134 that would add in srcdb_refseq[PROP] to the query)?  Thanks again.

[2015-06-20 20:32] sckott commented on #35
Can you not already do that by passing that query in via the `entrez_query` parameter?

[2015-06-20 20:47] mpnelsen commented on #35
Sorry - forgot to mention I did actually try that before writing:

[1] 0

whereas through NCBI I get 38 hits:

http://www.ncbi.nlm.nih.gov/nuccore/?term=pezizales%5BORGN%5D+AND+internal+transcribed+spacer+AND+srcdb_refseq%5BPROP%5D

I'd also tried looking at rentrez, but I don't think that accesses the refseq db (at least I'm not seeing it when checking available dbs w entrez_dbs).

[2015-06-21 16:50] sckott commented on #35
Hmm, that search `pezizales[ORGN]` is different than what happens inside the function. Since we convert any taxonomic name to a NCBI UID first, we get for pezizales 5185 http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=5185 - which then when passed to eutils as the query (from your e.g.) `txid5185 AND 350:3500[SLEN] AND internal transcribed spacer AND srcdb_refseq[PROP]` we get no result

[2015-06-21 17:15] mpnelsen commented on #35
Thanks much.  That helps a lot - I misunderstood some things (that it searches for UID when name supplied).  So I think my search listed above failed in traits b/c I need to add fuzzy=TRUE.  If I do that, it's golden (as it is not searching strictly for that UID, but instead is allowing for children of that UID to also be retrieved.

[1] 38

Sorry I overlooked that, and thanks much for your help c

[2015-06-21 17:15] #35 closed

[2015-06-22 16:40] sckott commented on #32
Okay, i think this should be the plan for ncbi functions:

* Drop the `ncbi_byname()` function - seems like `ncbi_searcher()` does the same stuff, but does more, and taxonomic searching is already supported in `ncbi_searcher()`
* See if `ncbi_byid()` can be used to search by gi number as well, or just accession number

does this plan sound okay @mpnelsen

[2015-06-22 18:42] mpnelsen commented on #32
Sounds good.

I think the only advantages of ncbi_byname() over ncbi_searcher() that I
can think of, is that (1) if the user wants the longest sequence for that
search...ncbi_byname() will automatically find it, while ncbi_searcher()
gives you a listing of those retrieved, but the output can then easily be
filtered afterwards when using ncbi_searcher().  And (2) ncbi_byname()
retrieves the actual

[2015-06-22 18:52] sckott commented on #32
Thanks for the feedback. Right, had forgotten that `ncbi_byname()` is meant for retrieving sequences, while `ncbi_searcher()` is meant for searching (but not getting sequences).

I think we can still retain an option of getting the longest sequence in `ncbi_byid()`, add a parameter to toggle that option.

I think it would simplify to only have `ncbi_searcher()` and `ncbi_byid()`, one fxn to search

[2015-06-22 18:57] mpnelsen commented on #32
sounds good to me - thanks!

[2015-06-22 19:07] sckott commented on #32
:+1:

[2015-07-09 23:41] sckott opened #36 "Import non-base R fxns"
see http://cran.r-project.org/web/checks/check_results_traits.html

[2015-07-10 00:47] #36 closed

[2015-08-31 04:31] aammd opened #37 "EOL traitbase: error when measurements not present"
Pulling trait data from EOL sometimes works, but I've found at least one problem taxa:

[code]
The GET request works fine; the problem seems to occur when the results are being turned into a `data.frame` [here](https://github.com/ropensci/traits/blob/9afa5e9f611b43d528d0b44626db683de31098b4/R/traitbank.R#L35-L36)

[2015-08-31 05:32] sckott commented on #37
Woops,  sorry.  Back to computer  on the 6th,  can fix then, but carl etc can merge a PR if you have time

[2015-09-07 23:25] sckott commented on #37
@aammd okay, after reinstall, does that work for you?

I renamed the `trait` param to `pageid` since `trait` indicates that it's an id for a trait, when it really is an id for a species page on EOL - anyway, breaking change, but its the first parameter in the function

[2015-09-11 17:19] sckott opened #38 "Standardize data.frame's across data sources"
Right now, we haven't thought about outputs of each function. I believe all are data.frames.  I'll look at each and see what they currently output and see what is shared among them, and see what standard format we can use that will also make combining outputs easier

[2015-09-11 17:23] sckott opened #39 "Fxn suffixes standardization"
Right now, each data source has its own prefix. Suffixes after that prefix vary though. What can be standardized across data sources. I'll make a list here

[2015-09-11 17:38] sckott opened #40 "Search by taxonomic name(s)"
- Input a single name
- Input many names
- Get data for all taxa hierarchically below a given taxon name - This currently isn't possible R client side, though may be done by individual data sources server side (I don't know though if any do) - I'd suggest we direct people/show examples of using `taxize` to do the name fetching part, then pass that to functions in this pkg to get traits
- Search by

[2015-09-11 17:39] sckott opened #41 "Search by trait"
* A single trait
* Many traits

[2015-09-11 17:41] sckott commented on #41
cc @hlapp @xu-hong

[2015-09-11 17:41] sckott commented on #39
cc @hlapp @xu-hong

[2015-09-11 17:42] sckott opened #42 "Standardize data.frame's across data sources"

[2015-09-11 17:42] sckott commented on #42
cc @hlapp @xu-hong

[2015-09-11 17:42] #42 closed

[2015-09-11 17:42] sckott commented on #38
cc @hlapp @xu-hong

[2015-09-11 18:11] sckott commented on #40
cc @hlapp @xu-hong

[2015-09-12 21:26] hlapp commented on #42
Did you close this accidentally, @sckott?

[2015-09-12 22:40] sckott commented on #42
Accidentally opened a duplicate. See #38

[2015-09-30 20:13] hlapp commented on #38
@sckott any progress or conclusions on this yet? @xu-hong is about at that step (leaving the issues with XML namespaces aside). Suggestions as to additional decorations that should be added to the `data.frame` object returned by `RNeXML::get_characters()`?

[2015-09-30 20:23] sckott commented on #38
@hlapp sorry, hadn't looked at this yet. Will do so today

[2015-09-30 21:08] sckott commented on #38
Run down of what data objects functions currently output;

| function | output |
| ------- | ------- |
| `betydb_trait` | list |
| `betydb_search` | data.frame |
| `betydb_citation` |  list |
| `betydb_site` | list |
| `betydb_specie` |  list |
| `birdlife_habitat` | data.frame |
| `birdlife_threats` | data.frame |
| `coral_locations` | data.frame |
| `coral_methodologies` | data.frame |
| `coral_

[2015-09-30 21:09] sckott commented on #38
Common fields among functions that could be standardized:

working on this....

[2015-09-30 21:39] hlapp commented on #38
You mean _columns among data frames_?

[2015-09-30 21:52] sckott commented on #38
yes

[2015-09-30 22:08] sckott commented on #38
@hlapp I don't know what's available to add

[2015-09-30 22:18] sckott commented on #37
I'll assume this is fixed

[2015-09-30 22:18] #37 closed

[2015-09-30 22:38] sckott commented on #39
What follows is some discussion of the current function names:

these were named working with BetyDB folks, and I think they thought these made the most sense

* `betydb_citation` - no analog I can see elsewhere
* `betydb_search` - Most of the other data sources below don't have a search service, so this suffix isn't seen much elsewhere
* `betydb_site` - __this could be joined with coral_locations

[2015-09-30 22:53] sckott commented on #41
This is potentially quite messy, kinda like common names for species. Perhaps a new function:

[code]

[2015-09-30 22:57] sckott commented on #40
A proposed new function:

[code]

[2015-10-01 01:55] aammd commented on #37
It is indeed, as far as I can tell! :sweat_smile:

[2015-10-01 02:07] sckott commented on #37
Cool cool

[2015-10-01 02:36] sckott opened #44 "Search by id"
Not sure if this will work in practice.  As there are ID's for traits,  taxa, locations, etc, as in it could get confusing what ID is expected

But some data sources only do fetch by id, so slapping on search by ID as a generic fxn would be easy/make sense

[2015-10-01 02:41] sckott opened #45 "Transformation fxns to standardize data"
Following #38 see if can make one or more functions to standardize column names, and probably data classes, to facilitate combining data

[2015-10-07 20:05] hlapp commented on #38
@sckott do you mean the classification, or family and genus for taxa that are species?

[2015-10-07 20:30] sckott commented on #38
@hlapp  I mean `name` could be ideally genus + epithet + any subspecific epithets OR previous + authority

I favor leaving authority off the name, and having in a separate column, if provided.

If there data record has lowest ID to family e.g,. then I don't know what best practice is. Perhaps we'd leave `name` blank

[2015-10-09 23:57] cmungall opened #46 "Error when using traitbank"
From the example page:

[code]

Same for other IDs

I'm guessing this is an upstream API issue, thought I would check here first

[2015-10-10 00:03] sckott commented on #46
hey @cmungall - thanks for the report

we did a bad thing a while back (wrt breaking the pkg API that is) https://github.com/ropensci/traits/commit/ec8adf9225323d58646c75f889cc8b9fce0ae815#diff-7c2950c2b616ad5d362f1bda908e37c7L20

renamed the `trait` parameter to `pageid`  - I thought `trait` was so misleading as to necessitate the change. That is, the value that EOL wants is a ID for a taxon page

[2015-10-10 00:10] cmungall commented on #46
I agree that was a confusing parameter name!

I can confirm that using pageid works, or just the pageid as the sole argument. And I see now the documentation on github is in sync, it's just the rOpenSci version of the docs that are lagging

And you anticipated my next question. It would be awesome to be able to query by traits, or to get bigger chunks of data without iterating over species... I be

[2015-10-10 00:10] #46 closed

[2015-10-10 00:13] sckott commented on #46
Thanks for note, I'll update https://ropensci.org/tutorials/traits_tutorial.html for the changes

Yeah, it's too bad access is so limited :(

[2015-10-13 18:01] sckott commented on #45
e.g,.

Get data

[code]

Standardize and combine

[code]

[2015-10-13 18:08] sckott commented on #15
hmm, actually gonna close cause trophic interactions I don't think fit here that well, better in e.g., https://github.com/PoisotLab/rInteract

[2015-10-13 18:08] #15 closed

[2015-10-13 18:09] sckott commented on #15
but thanks for bringing it to attn here @kgturner

[2015-10-13 18:23] sckott commented on #39
Okay, have some suggested fxn name changes above (see those with `fxn_name -> new_fxn_name`)

Let me know if you have any other ideas.

[2015-10-13 18:44] sckott opened #47 "standardize outputs all lowercase, all data.frames (if possible)"

[2015-10-13 19:16] sckott opened #48 "BROT: avail. via EOL"
BROT page: http://www.uv.es/jgpausas/brot.htm

EOL: http://eol.org/content_partners/695

however, can't download e.g., all BROT data, can only do through traitbank for each taxon, so maybe do nothing here

[2015-10-13 19:24] sckott opened #49 "glopnet?"
e.g., https://gist.github.com/dfalster/29412ad974d5c5025923

[2015-10-13 19:43] #47 closed

[2015-10-13 20:06] sckott commented on #49
no, b/c well, you can guess

[2015-10-13 20:06] #49 closed

[2015-10-13 20:45] hlapp commented on #39
Just to confirm, this means that these functions are not about invasive or native species but about something else (not sure what the `_origin` suffix is meant to signify though)?

[2015-10-13 21:05] sckott commented on #39
They vary a bit, but are about whether a species is native or not in a particular region/country/etc. The reason i thought of the word `origin` is I imagine b/c of ITIS, e.g., http://www.itis.gov/ITISWebService/services/ITISService/getJurisdictionalOriginFromTSN?tsn=180543 where they use `origin` to refer to whether a species is native or not

`origin` does seem to colloquially refer to _where_ so

[2015-10-13 22:22] sckott opened #50 "Fishes, could import rfishbase to get fish data"
good idea? or no? @cboettig

[2015-10-13 22:28] sckott opened #51 "Avibase"
see also ropensci/taxize#413

in email, maintainer said working on an API, no news yet though (email from march this year)

[2015-10-15 23:10] dlebauer opened #52 "Add option to retrieve 'unchecked' data from BETYdb"
As of [BETYdb v 4.4](https://github.com/PecanProject/bety/releases/tag/betydb_4.4), users are able to access 'unchecked' data.

The ability to query unchecked data from the Web interface and API was implemented in PecanProject/bety#350 and is defined in the section 3.3.1 of the ["Data Access" documentation](https://www.authorea.com/users/5574/articles/7062/_show_article).

This feature will add an

[2015-10-16 00:49] sckott commented on #52
@dlebauer  Sounds good

[2015-11-30 04:24] sckott opened #53 "data source NOBANIS"
https://www.nobanis.org/

[2015-11-30 04:28] sckott opened #54 "data source; Online Atlas of the British and Irish flora"
http://www.brc.ac.uk/plantatlas/ Online Atlas of the British and Irish flora

[2015-12-03 23:14] sckott opened #55 "Native species resolver"
From BIEN folks http://bien.nceas.ucsb.edu/bien/tools/nsr/nsr-ws/

has API, gives nativity status based on inputs: taxon, country, stateprovince, countyparish

only accepts 1 of each input, but there is a batch option. but looks like it's not available via the API http://bien.nceas.ucsb.edu/bien/tools/nsr/batch-mode/

[2016-01-10 21:16] Rekyt opened #57 "EOL Traitbank Error"
When trying to reproduce the example of function `traitbank()` I obtain an error with current development version of `traits`:

[code]

[2016-01-10 23:53] sckott commented on #57
EOL servers are not working, e.g.,  w/ http://eol.org/api/traits/846827

[code]

[2016-01-11 00:01] sckott commented on #57
That is to say, we can't do anything to fix this, though I'll ping them in case they dont' know

[2016-01-11 09:39] Rekyt commented on #57
Ah! Thanks ;) I didn't think they had a problem.

[2016-01-16 00:26] sckott commented on #57
Seems that their traits API is still not working, sorry about that

[2016-01-16 00:33] sckott commented on #57
the traitbank page says

Uhoh, hopefully it's not down for good

[2016-01-26 21:21] sckott opened #58 "LEDA is gone, defunct fxn"

[2016-01-26 21:25] sckott opened #59 "Make EOL defunct for now"

[2016-01-26 22:42] sckott opened #60 "Morgan's trait database"
AMNIOT database http://esapubs.org/archive/ecol/E096/269/

[2016-01-26 22:47] sckott opened #61 "Revisit USDA plants database"
now that we know the API is never happening, just scrape dat stuff

[2016-01-27 01:02] sckott commented on #58
actually back up now, fixing code to work with it

[2016-01-27 01:04] sckott commented on #59
just adding a stop message

[2016-01-27 01:07] #57 closed

[2016-01-27 01:07] #58 closed

[2016-01-27 01:08] sckott commented on #59
closing , opening a new issue for when back up

[2016-01-27 01:08] #59 closed

[2016-01-27 01:08] sckott opened #62 "Bring Traitbank back up when it's online again"
#59

[2016-01-27 01:16] sckott opened #63 "Mark native/invasive (aka origin) functions as deprecated"
package doesn't exist yet - will allow this package to focus more on traits sensu sricto

[2016-01-27 21:04] sckott commented on #63
new package https://github.com/ropenscilabs/originr

[2016-01-27 21:34] sckott commented on #55
implemented in `originr` now, closing

[2016-01-27 21:34] #55 closed

[2016-02-10 19:52] zachary-foster opened #64 "ncbi_searcher XML parsing error"
I ran into an error when using `ncbi_searcher` in my package today.
It had worked in the past, so something must have changed in the past few months.
The error can be produced by running the example code for  `ncbi_searcher`:

[code]
[code]

The line of code (#143) that causes the error is:

[code]

It seems that `httr::content` is returning a class with a slightly different name than the ones `XM

[2016-02-10 20:11] sckott opened #65 "Fix httr::content calls - text parse and encoding"

[2016-02-10 20:13] sckott commented on #64
Good catch. Yep, `httr` now uses `xml2` by default to parse XML, so if you let `content()` parse the data, it uses `xml2`. I've been going through all my packages updating to use `content(x, as ="text", encoding = "UTF-8")`, then parse manually. The encoding has to be set explicitly otherwise you get a warning.

see #65

[2016-02-10 20:14] sckott commented on #64
you sending a PR?

[2016-02-10 22:21] zachary-foster commented on #64
Yes, I will send a PR if I can get it fixed.  I think I can fix it shortly. Thanks for the quick response!

[2016-02-10 22:26] sckott commented on #64
thx

[2016-02-11 01:01] #64 closed

[2016-02-11 01:05] sckott opened #67 "Replace XML with xml2"

[2016-02-11 01:35] sckott opened #68 "leda() fails, needs to be parsed as raw, then converted to char"

[2016-02-11 01:40] #65 closed

[2016-02-11 01:40] #68 closed

[2016-02-11 20:58] #67 closed

[2016-03-01 22:58] mpnelsen opened #69 "ncbi_searcher: prefix for refseq acc_no trimmed"
I noticed that the prefix for refseq accession numbers seems to be cut off when conducting a search with ncbi_searcher - is it possible to retain this portion of the accession number?  See the first hit below - the accession number for this refseq should instead be NG_013161.  Thanks for your help!

[code]

[2016-03-01 23:04] sckott commented on #69
thanks for the issue, I'll have a look

[2016-03-01 23:11] mpnelsen commented on #69
thanks much!

[2016-03-02 15:02] sckott commented on #69
@zachary-foster i don't remember, but what's the reason for stripping off the prefix before the `_` underscore here https://github.com/ropensci/traits/blob/master/R/ncbi_searcher.R#L199-L201

[2016-03-02 18:33] zachary-foster commented on #69
Im not sure. I commented out the line of code that  removes the prefix and tried all of the examples and they seemed to work fine. I expect it was an error on my part. I probably was testing to see if the prefix interferes with other functions, but forgot to undo the removal. I will send a PR to undo the removal.

[2016-03-02 18:38] sckott commented on #69
thanks

[2016-03-02 18:42] #69 closed

[2016-03-02 18:42] sckott commented on #69
@mpnelsen try your example again after reinstalling like `devtools::install_github("ropensci/traits")`

[2016-03-02 20:31] mpnelsen commented on #69
Golden - thanks much to you both.

[2016-03-02 20:33] sckott commented on #69
great!

[2016-03-09 19:42] sborstein opened #71 "ncbi_byid does not return full taxon names"
ncbi_byid function does not return full taxon names for undescribed species, cf., aff., or trinomial subspecies. Some example accession numbers are:
AJ845086.1 – returns only the binomial and not the subspecific epithet.
KJ127340.1 – returns up to the cf.
KJ127317.1 – returns taxon name up to sp.

Thanks,
-Sam

[2016-03-09 20:29] sckott commented on #71
thanks for the report @sborstein - will have a look

[2016-03-09 20:30] sckott commented on #61
new API I made at https://plantsdb.xyz/heartbeat, source at https://github.com/sckott/usdaplantsapi

will incorporate fxns here when that API is in less of an alpha state

[2016-03-16 01:13] sckott commented on #71
sorry for delay, looking at this now. it's an annoying parsing problem because they give back just a string of data which we have to regex

[2016-03-16 18:26] sckott commented on #71
the names are so messy with fasta files, and there is taxon info on the page for each acc ID, so thinking of pulling down data differently

[2016-03-16 19:51] #71 closed

[2016-03-16 19:52] sckott commented on #71
@sborstein okay, try again after reinstalling like `devtools::install_github("ropensci/traits")` let me know if it works or not

[2016-03-17 16:37] sborstein commented on #71
Hi Scott,

I just tried it out and it is working! Thanks for your help with this.

Thanks,

-Sam Borstein

sam@borstein.com <mailto:sam@borstein.com>

PhD Candidate

University of Tennessee

Dept. of Ecology and Evo. Bio.

From: Scott Chamberlain [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 3:52 PM
To: ropensci/traits <traits@noreply.github.com>
Cc: Sam Borstein <sam@borstein.

[2016-03-17 16:45] sckott commented on #71
great! glad it works

[2016-03-17 18:45] #62 closed

[2016-03-17 18:54] sckott opened #72 "Make origin fxns defunct once originr is on CRAN"
from #63

[2016-03-17 19:05] #63 closed

[2016-03-22 05:55] wcornwell opened #73 "plant growth form data"
Cool project!

Plant growth form data for > 49,000 on data dryad here: http://datadryad.org/resource/doi:10.5061/dryad.63q27.

It's the largest plant trait dataset in the world (at least in terms of numbers of species) might be work including, and should be very straightforward to incorporate.

[2016-03-22 16:11] sckott commented on #73
@wcornwell  thanks for the suggestion!

I'll have a look

[2016-03-22 16:59] sckott commented on #73
The long term solution I want is to put up a CKAN instance to hold datasets like these so that they can not only be served, but be searched, etc., but having a hard time with CKAN server installation.

For now we can just fetch the data for folks.

[2016-05-13 20:40] cboettig commented on #16
Yup, I think this should work.  (not sure how I missed this thread originally)

[2016-05-26 19:54] dlebauer opened #74 "How can I make url an optional parameter in betydb_* functions?"
On line 159 of [R/betydb.R](https://github.com/ropensci/traits/blob/master/R/betydb.R#L159) there is a helper function `betyurl <- function() 'https://www.betydb.org/'`

However, BETYdb is a federated network of databases, betydb.org was the first, and all of the instances sync their public data (so this is a good default) but we need the ability to specify the url.

I'd like to add `url` as an ar

[2016-05-26 19:58] dlebauer commented on #25
@sckott this issue can be closed ... I'll make new ones as needed

[2016-05-26 20:04] sckott commented on #25
okay, thanks

[2016-05-26 20:04] #25 closed

[2016-05-28 06:15] sckott commented on #74
Hey @dlebauer - Let's create a new parameter `url` to pass in a url, sound good?

[2016-05-28 06:31] dlebauer commented on #74
Thats easy: replace `betyurl()` and pass in url parameter to every function that currently calls it.

Did you originally create the function in order to only specify the actual url once? To set a default, should I keep the `betyurl()` function and add `url = betyurl()` where necessary?

[2016-05-28 06:32] dlebauer commented on #74
PS it might not have been clear but I'll do it!

[2016-05-28 06:54] sckott commented on #74
I didn't know you'd need different urls :)

yeah, or just `url = "https://www.betydb.org"`

[2016-05-29 21:09] dlebauer commented on #74
OK. The feature is implemented in #75 and this can be closed.

[2016-05-29 21:09] #74 closed

[2016-06-02 19:24] sckott commented on #16
cool cool, will try that soon

[2016-08-05 19:01] sckott opened #76 "require readr >= 1.0.0"
instead of the older version as we have now, - that older version causing problems at least for windows users

[2016-08-18 19:04] dlebauer opened #77 "Refactor generic betydb functions to use new BETYdb API"
## Update the traits package to use the new API.
## TODO
- [ ] remove `betydb_GET2` if it is redundant with `betydb_GET`
- [ ] rewrite `betydb_http`
  - [ ] remove old code for joining tables (lines starting with `includes <- list`. This joining method has been deprecated https://github.com/ropensci/traits/blob/master/R/betydb.R#L108
  - [ ] target API endpoint by version as paste0(betyurl, 'api')

[2016-08-18 19:07] dlebauer commented on #77
Feedback appreciated @sckott @gsrhode @robkooper @max-zilla

[2016-08-23 19:04] sckott commented on #77
@dlebauer thanks I'll have a look

[2016-11-19 05:19] mabarbour opened #79 "traitbank() not working for me"
I'm getting an error for whatever pageid I use for `traitbank()`. For example:

Error in setNames(df, tolower(names(df))) :
  attempt to set an attribute on NULL

Any idea what might be going on? I'm running R version 3.3.2 and I received this error both on the CRAN version and development version of this package.

[2016-11-19 06:12] sckott commented on #79
The EOL people have changed the response - this used to work. There is apparently no data for this taxon now.

http://eol.org/api/traits/328574

I'll see if I can track them down, but it's usually tough to get answers

[2016-11-20 18:59] sckott commented on #79
@mattbarbour34 seems some taxa do have trait data http://eol.org/api/traits/328067

I'll still make a fix though for cases in which trait data is missing

[2016-11-21 15:15] sckott commented on #79
They know about the problem https://twitter.com/bobcorrigan/status/800683950838419456 - hopefully will be fixed soon

[2016-12-08 18:32] sckott commented on #79
still no trait data for http://eol.org/api/traits/328574 😢

[2017-01-02 15:00] dschlaep commented on #79
I would like to make three comments:

1. __eol's traitbank is currently unreliable in number of traits returned:__
Earlier today I experienced the same issue as reported on Nov 19, 2016 for whichever pageid. However, this has been working now for the last hour or so -- and I don't believe I changed anything relevant. While it is working, I obtained the following results, for instance,

- Balaenopt

[2017-01-02 20:07] sckott commented on #79
thanks @dschlaep for your comments

Would you be interested in sending a pull request with your proposed changes?

[2017-01-20 18:08] sckott opened #81 "ncbi_byname behavior question"

[2017-01-20 20:34] sckott commented on #81
[code]

[2017-02-06 20:58] infotroph opened #83 "Accept multiple IDs in betydb_*(id=...)?"
The `id` argument to all BETY functions is currently documented as (emphasis added) "One **or more** ids for a species, site, variable, etc." But at present no function handles multiple IDs gracefully.

[code]

* In the "plural" functions (eg `betydb_query`), it *could* make sense to interpret it as an OR operation so that `betydb_query(id=c(1, 937, 222), ...)` := `betydb_query(id="~^(1|937|222)$"

[2017-02-06 21:13] infotroph opened #84 "Use cases for non-ID search fields in singular betydb_* functions"
Since all the singular BETY functions are currently set up to take one ID and return the full record if it exists, I'm not sure how the genus and species arguments are supposed to work.

Currently these all produce the same result:

[code]

If singular functions are changed to accept multiple IDs (see #83), then it would make sense to be able to filter the result:

[code]
If singular functions con

[2017-02-06 21:39] infotroph commented on #84
Probably should think about this and #21 both at the same time

[2017-02-06 22:48] dlebauer commented on #84
I am unclear on the utility of these functions are necessary. I would vote to remove them, but @sckott wrote them and perhaps there was a use case he had in mind (or for consistency with other interfaces in the package).

What would be useful is to have a function that took a vector of ids and a tablename and returned them all. So that I could do a query like `betydb_query(table = 'traits', cultiv

[2017-02-07 01:18] infotroph commented on #84
I've implemented a generic one-record function as `betydb_item(id, table)` in #82, but `betydb_record` is probably a better name for it. The other singular functions can be reimplemented as wrappers around it as the use cases arise.

Let's collect use cases for vector-of-IDs under the #83 heading.

[2017-02-07 11:22] sckott commented on #83
I guess it's up to you @infotroph and @dlebauer - but agreed that this should be clarified

[2017-02-07 11:29] sckott commented on #84
i dont remember reasoning for fxns I wrote. if it makes more sense to go with something like `betydb_query` that's good with me. if want to remove any fxns, we'll have to mark the current fxns as deprecated (but still useable) in next CRAN version, then next ver after that we can make them defunct (removed)

[2017-02-07 22:48] infotroph opened #87 "Bety: Document include_unchecked"
BETY tables search, traits, & yields, (and AFAIK no others) include a `checked` column indicating whether an admin has verified the value. By default the API excludes results where `checked != 1`, but this can be changed by passing `include_unchecked=1` (or "TRUE", "YES", "y", etc).

`betydb_query` handles this correctly already, but it should be mentioned in the vignette (probably near the explan

[2017-02-08 14:24] infotroph commented on #87
Duplicate of #52 -- moving there.

[2017-02-08 14:24] #87 closed

[2017-02-08 14:33] infotroph commented on #52
This now works in betydb_query as of c957ca8ed300f8ac3adb6aa69f740c8658f3e5a4, but it should be mentioned in the vignette.

TODO:
* [ ] document which tables use it (just search, traits, & yields?).
* [ ] Document accepted values (1, "TRUE", "YES", "y", etc).
* [ ] Make connection to `limit` and `offset1`, the other options that alter result visibility
* [ ] (?) Add `include_unchecked` as a `betyd

[2017-02-08 14:38] dlebauer commented on #52
* yes just search, traits, yields
* accepted should be 0,1 on traits & yields; unchecked or passing (I'm pretty sure these are the exact strings) on search (values -1 and failed should not be returned)
* sounds reasonable
* yes great idea

[2017-02-16 00:58] sckott commented on #81
sorted apparently

[2017-02-16 00:58] #81 closed

[2017-02-27 22:09] sckott opened #89 "replace httr with crul"

[2017-03-08 21:08] zachary-foster opened #90 "datasource: Funguild?"
I was recently working with a python script for looking up attributes of fungal species called funguild.

https://github.com/UMNFuN/FUNGuild

This python script expects a table with a column named "taxonomy" formatted in the UNITE taxonomy format (e.g. k__Fungi.p__Basidiomycota.c__Agaricomycetes.o__Agaricales.f__Strophariaceae.g__Psilocybe.s__Psilocybe_semilanceata).
It calls the following API:

h

[2017-03-08 21:51] sckott commented on #90
Thanks @zachary-foster

Sounds good to me - you want someone else to do the R bit or did you want to? - happy to help

[2017-03-09 17:01] zachary-foster commented on #90
Cool. I would not mind doing it, but I will not have time for a while probably and, since I got the python script to work for my immediate needs, it is not a priority for me right now. I was mostly just posting this as a record of the idea in case anyone else wanted to do it or if I had time to do it in the future.

[2017-03-09 17:09] sckott commented on #90
Cool, thanks.

If anyone wants to do this go for it - I may do at some point if no one else does.

[2017-03-15 02:27] infotroph opened #91 "add seealso link for betydb_query in main betydb doc"
Right now the documentation under `@name betydb` looks like a one-page guide to all the betydb functions, but in fact `betydb_query` (and `betydb_search` once #88 is merged)  are on a separate page, mostly so I could describe `...` differently without making Roxygen complain about multiple definitions. For discoverability, there should be a clear `\seealso` pointer from the main documentation page

[2017-03-15 02:44] infotroph opened #92 "`\%>\%` in betydb_query examples"
Fix, rerun Roxygen, check other pages for same error.

[2017-03-15 03:18] infotroph commented on #92
I think this is an issue with GitHub's Rmarkdown rendering. The percents appear correctly, with no extra backslashes, when viewed in R.

[2017-03-15 03:18] #92 closed

[2017-03-15 04:39] sckott commented on #92
all good now?

[2017-03-15 14:48] dlebauer commented on #77
@infotroph can this be closed?

[2017-03-16 14:59] infotroph commented on #77
Yes, once #88 is merged. If we want to deprecate any of the table-specific functions (e.g. #26, #84) it may reduce user confusion to do it in the same release as we add the generics, but we should only deprecate them if we're sure we won't want them later (maybe for output standardization a la #38?). Your call.

[2017-03-16 15:05] infotroph commented on #92
The tidyverse docs look the same way. So yep, we're all good.

[2017-03-16 15:17] infotroph commented on #91
Fixed in 1a6b38386f9f25cb07c143f3859eb3520b049225

[2017-03-16 15:17] #91 closed

[2017-03-16 18:34] #77 closed

[2017-03-21 19:28] sckott commented on #72
originr now on cran https://cran.rstudio.com/web/packages/originr/ - will make them here defunct

[2017-03-21 19:34] sckott commented on #21
@dlebauer can this be closed?

[2017-03-21 19:35] sckott commented on #26
@dlebauer can this be closed, been a while, not sure about the details

[2017-03-21 19:36] sckott commented on #51
closing, no changes on the site

[2017-03-21 19:36] #51 closed

[2017-03-21 19:39] sckott commented on #53
closing, moved to `originr`

[2017-03-21 19:39] #53 closed

[2017-03-21 19:52] sckott commented on #7
too much work, closing

[2017-03-21 19:52] #7 closed

[2017-03-21 19:52] #11 closed

[2017-03-21 19:54] sckott commented on #48
closing, in tr8

[2017-03-21 20:00] sckott commented on #83
@infotroph @dlebauer  Is this something that should be dealt with soon, like before the next CRAN push? or hold off for a while (that is, should I put it in the milestone for the next CRAN push, or on a later milestone?)

[2017-03-21 20:00] sckott commented on #84
@infotroph @dlebauer  Is there anything in this issue that should be dealt with soon, like before the next CRAN push? or hold off for a while (that is, should I put it in the milestone for the next CRAN push, or on a later milestone?)

[2017-03-21 20:03] sckott opened #93 "next cran push"
@infotroph @dlebauer

i've gone through issues, and next cran push will be this milestone https://github.com/ropensci/traits/milestone/6

so I have a few things to deal with before going to cran - let me know if there's anything that should or shouldn't be on the milestone wrt BETYdb

[2017-03-21 23:36] dlebauer commented on #83
Hold off, this is lower priority
On Tue, Mar 21, 2017 at 4:00 PM Scott Chamberlain <notifications@github.com>
wrote:

[2017-03-21 23:37] dlebauer commented on #26
Close
On Tue, Mar 21, 2017 at 3:35 PM Scott Chamberlain <notifications@github.com>
wrote:

[2017-03-21 23:38] dlebauer commented on #84
Hold off
On Tue, Mar 21, 2017 at 4:00 PM Scott Chamberlain <notifications@github.com>
wrote:

[2017-03-22 16:33] #26 closed

[2017-03-25 23:32] dlebauer commented on #21
Yes it can be closed
On Tue, Mar 21, 2017 at 3:34 PM Scott Chamberlain <notifications@github.com>
wrote:

[2017-03-26 16:48] sckott commented on #21
thanks @dlebauer

[2017-03-26 16:48] #21 closed

[2017-03-26 16:48] sckott commented on #93
thoughts @dlebauer @infotroph ^^

[2017-03-26 20:44] infotroph commented on #93
I think you found all the BETY changes that are ready to go. The remaining issues I see all need more thought (#83, #84) and/or coordination with a larger package cleanup (#38, #39).

Of the other issues in this milestone, looks like httr-->crul (#89) is the only one that might require changes in the BETY code. Does crul provide a drop-in replacement for httr::GET?

[2017-03-28 20:15] sckott commented on #93
it's easy enough to do the conversion to `crul` - but I think I’ll move it to the next milestone just to speed up this one

[2017-03-28 20:27] infotroph commented on #52
@sckott Sorry, can you reopen this? Apparently `include_unchecked` works [differently or not at all](https://github.com/PecanProject/bety/issues/493#issuecomment-289834207) in the beta API. If this isn't a bug in BETY, the traits documentation should be updated to reflect reality and a test should be added for the correct behavior.

[2017-03-28 20:31] infotroph commented on #93
May need to revisit #52 -- `include_unchecked` only works in some API versions. We should resolve this before release.

[2017-03-29 01:30] dlebauer commented on #93
I think include_unchecked was absent in v0 and new in beta
On Tue, Mar 28, 2017 at 3:31 PM Chris Black <notifications@github.com>
wrote:

[2017-03-30 20:23] dlebauer commented on #52
@infotroph the design specifications for the BETYdb beta API were to map closely to the database schema itself, without putting too much magic in the API itself.

There is a 'bug' that only checked data are available to the public. That will be fixed in the API, then both checked and unchecked data will be returned by default.

For the traits package, I think that the simplest method would be to d

[2017-04-25 16:05] sckott opened #95 "NCBI fxns need https urls now"

[2017-04-25 16:13] #95 closed

[2017-09-22 16:04] sckott opened #96 "ncbi_ functions: make NAs in no results be NA_character"

[2017-09-22 16:11] sckott opened #97 "xml_find_one to xml_find_first"

[2017-09-22 16:23] sckott opened #98 "namespace fxn calls for base pkgs, remove as imports"

[2017-09-22 16:23] #76 closed

[2017-09-22 16:23] #96 closed

[2017-09-22 16:23] #97 closed

[2017-09-22 16:23] #98 closed

[2017-09-22 16:28] sckott opened #99 "coral base api url is now https"

[2017-09-22 16:39] #99 closed

[2017-09-22 16:51] #72 closed

[2017-09-22 17:24] #79 closed

[2017-09-22 18:12] #61 closed

[2017-09-22 18:12] #73 closed

[2017-09-22 19:05] sckott commented on #60
done in e1ace33e79360aa690806709be997ec7d2aa507a

[2017-09-22 19:05] #60 closed

[2017-09-22 19:16] sckott opened #100 "birdlife fxns broken"
looks like URLs have changed

[2017-09-22 19:36] #100 closed

[2017-09-25 04:29] wcornwell commented on #90
If you do get around to fungi, we'll have a growing set of fungal trait data here: https://github.com/traitecoevo/fungaltraits

should be linked to both index fungorum and funguild if everything goes as planned.

[2017-09-25 17:22] sckott commented on #90
thx @wcornwell ! just submitted a new ver of this pkg to CRAN - will try to get to funguild soon

[2017-10-01 18:21] boopsboops opened #101 "Extending ncbi_byid"
Hi @sckott et al (and @dwinter too),

I just stumbled on the function `ncbi_byid` after it cropped in the r-sig-phylo list.

I'm working on assembling reference libraries for eDNA metabarcoding, and being able to curate, update and review the quality of your reference libraries is really important. Therefore having this data in a table, rather than fasta format is essential.

Your function seems s

[2017-10-02 18:12] sckott commented on #101
thanks for the issue @boopsboops

There's a few things going on here, so separating them out:

- Add more fields to the output of `ncbi_byid`
- EBI vs. NCBI: do you get the same data? or are they two complementary data sources (my ignorance of this space is coming through)
- parallel XML processing: how much of a diff. does this make?  curious cause it adds additional complexity so would only use

[2017-10-03 20:53] boopsboops commented on #101
Hi @sckott

- EBI vs. NCBI: Yes, in theory the European Nucleotide Archive (ENA) at the EBI is a mirror of NCBI GenBank. Although sometimes I find data on NCBI that hasn't found its way onto ENA yet. I used it because it serves up data quicker than NCBI, possibly because the servers are closer to me and/or that it gets a lot less traffic.
- Parallel XML processing: it made a pretty big difference

[2017-10-04 21:03] sckott commented on #101
Thanks for the follow up. A PR with your changes sounds good

[2017-10-06 19:35] sckott commented on #101
@boopsboops does your merged PR solve all issues you had?

[2017-10-08 21:21] infotroph opened #103 "Support Bety api `v1`"
The new Bety API is now released as `v1`, with the same functionality as `beta`. Beta will not be deprecated for a while, but traits should support both names.

Should we also switch the default API version (used when `options("betydb_api_version")` is unset) from `v0` to `v1`?

[2017-10-10 16:02] sckott commented on #103
Cool. Up to you and @dlebauer whether default is v0 or v1

[2017-10-10 16:33] dlebauer commented on #103
Eventually, the default should be v1. But that is not the highest priority at this point.

[2017-10-10 19:49] infotroph commented on #103
Switching to v1 is easy, especially if #94 is merged before I push -- already have a patch that I wrote on top of that by mistake.

[2017-10-11 21:09] boopsboops commented on #101
Sorry for the delay. Yes, it did. Thanks for the help :)

[2017-10-11 21:09] #101 closed

[2017-11-07 19:11] ahhurlbert opened #104 "AmphiBIO trait database for amphibians"
https://www.nature.com/articles/sdata2017123

[2017-11-07 19:12] ahhurlbert opened #105 "Reptile life history trait database"
http://www.journals.uchicago.edu/doi/abs/10.1086/686055

[2017-11-08 18:04] sckott commented on #105
thanks @ahhurlbert looks like data at http://datadryad.org/resource/doi:10.5061/dryad.55610

[2017-11-08 18:06] sckott commented on #104
cool, looks like data at https://figshare.com/articles/Oliveira_et_al_AmphiBIO_v1/4644424

[2018-07-26 07:42] maelle opened #108 "BirdLife link"
http://rbg-web2.rbge.org.uk/FE/fe.html redirects to http://ww2.bgbm.org/EuroPlusMed/query.asp so I guess it's not the right link?

[2018-07-26 07:44] maelle commented on #40
Interesting, so my workflow in my upcoming blog post will be scientific name to IUCN ID via `rredlist`/`taxize` to trait data via `traits` (BirdLife). No new function from me, but well it'll be an use case.

[2018-07-26 08:42] maelle opened #109 "EOL pageid"
How does one get it?

[2018-07-26 08:52] maelle opened #110 "Docs: overview of sources"
Would it make sense to have a table in the README+vignette with for each source

* organisms

* trait "types"

* authentication

* function prefix?

[2018-07-26 16:05] sckott commented on #40
awesome, thanks @maelle

[2018-07-26 16:16] sckott commented on #109
oof, EOL is kind of weird setup in my opinion. So species in EOL have page ids instead of taxon IDs, though I guess they're just different names. Can get one like

[code]

the ID you get from `get_eolid` is the taxon id, but the page id is in the `uri` attribute, so we can extract that page id. I opened an issue in taxize to put page id as a separate attribute so it can be extracted easier: https:

[2018-07-26 16:16] sckott commented on #108
where is that link?

[2018-07-26 16:40] sckott commented on #110
Yeah, makes sense!

[2018-07-26 16:50] maelle commented on #108
At the top of the readme

[2018-07-26 16:50] maelle commented on #109
Thanks!

[2018-07-26 17:13] sckott commented on #108
thanks,, will update it

[2018-08-08 13:29] maelle opened #111 "Add a short sentence defining what a trait is"
at the beginning of the README? This sentence could also give examples of traits "habitat, body mass". Maybe a bit useless since people using this package probably know what a trait is but who knows.

[2018-08-09 20:40] #111 closed

[2018-08-09 20:40] sckott commented on #111
thanks, added a sentence, hopefully it's helpful

[2018-08-10 04:29] maelle commented on #111
Thanks!

[2018-11-13 15:41] rvosa commented on #57
I'm still getting period error 500 messages, for example in a loop. Could it be that we're hitting the server too hard or something?

[2018-11-13 18:45] sckott commented on #57
@rvosa I would guess that they can't handle very heavy loads and they are just intermittently throwing 500's when they fail over

[2018-11-13 19:42] rvosa commented on #57
What do you think? Should I put a sleep between every iteration or
something?

On Tue, Nov 13, 2018 at 7:45 PM Scott Chamberlain <notifications@github.com>
wrote:

[2018-11-13 19:53] sckott commented on #57
maybe wrap in `tryCatch` and if an error detected, then sleep a bit, then retry

[code]

you probably have a setup that's best for your use case, but something like above

[2018-12-03 14:17] rvosa opened #112 "EoL TraitBank: error 404 on all species."
Maybe to do with the new beta that they are launching?

[2018-12-03 17:37] sckott commented on #112
i'd think so as well. their APIs AFAICT suddenly changed, I didn't get any warning 😢

[2018-12-03 17:45] sckott commented on #112
i can only see traits accessible via their new "cypher" service https://github.com/EOL/eol_website/blob/master/doc/query-examples.md

i asked about it here https://discuss.eol.org/t/where-does-traitbank-live-wrt-api-access/816

[2018-12-03 18:32] sckott commented on #112
@rvosa sounds like it's only available via their cypher service now. here's an example, note to self

[code]

not an example for traits yet ...

[2018-12-12 00:34] dlebauer commented on #93
Hi @sckott when do you think the next version will be released to CRAN? There are some useful changes that Chris did that would be great to have available in the official version.

[2018-12-12 13:02] infotroph commented on #103
I should be able to do that after AGU -- if this is still open in a week, ping me again.

[2018-12-12 19:30] sckott commented on #93
the next milestone is https://github.com/ropensci/traits/milestone/4 a few of the issues will be very quick, and the others i'll poke at and may move to a future milestone if they will take too long. - so soonish

[2019-04-02 16:27] sckott commented on #48
Maybe include now, see https://www.uv.es/jgpausas/brot.htm for details

[2019-06-06 21:51] #112 closed

[2019-06-06 21:56] #108 closed

[2019-06-06 21:56] sckott opened #113 "betydb, add param to optionally suppress progress bar"

[2019-06-06 22:42] #113 closed

[2019-06-06 22:58] #110 closed

[2019-06-06 23:00] #32 closed

[2019-06-07 17:35] sckott commented on #109
no longer needed here since EOL Traitbank has changed their search interface

[2019-06-07 17:35] #109 closed

[2019-06-07 17:36] #93 closed

[2019-06-28 23:19] sckott opened #115 "fix taxa_search: traitbank used internally, but it's been changed drastically"

[2019-06-28 23:38] #115 closed

[2019-12-09 19:39] jeroen opened #116 "Add titles to vignettes"
See: https://docs.ropensci.org/traits/articles/

[2020-01-13 21:23] BenMerSci opened #117 "EOL traitbank query"
Is there a way to get trait information from EOL with the function traitbank (or any other function?) without using Cypher queries? Or is it the only way since the traits are stored in graphs based on neo4j?

[2020-01-14 02:18] sckott commented on #117
Its the only way AFAIK, and looks like you can't use the webpage anymore. Do you need help with a cypher query?

[2020-01-14 04:29] BenMerSci commented on #117
Just to make sure in the first place, is the authentication key needed to query the traitbank database the same as the one present in the url of my account page of the EOL website?
 exemple: https://eol.org/users/"authentication_key"

[2020-01-14 16:36] sckott commented on #117
i don't know. I don't think so though

[2020-01-15 01:31] BenMerSci commented on #117
It was indeed an authentication key problem! Also sorry for the bother, got some issue tracking who worked on which package/function therefore who to contact. Thank you @sckott !

[2020-01-15 01:31] #117 closed

[2020-02-27 17:37] serbinsh opened #118 "Unauthorized (HTTP 401) in betydb_query"
<details> <summary><strong>Session Info</strong></summary>

[code]
Gives the expected results

[code]

BUT

if I try

[code]

I get

[code]
</details>

I am getting
[code]

When I try to query betyDB?  See session info above.  Why does betydb_search work and betydb_query doesnt?  Am I missing something?

[2020-02-27 18:03] sckott commented on #118
thanks for the issue @serbinsh - can you include your session info please

[2020-02-27 18:04] serbinsh commented on #118
Sure.  Sorry put the details in the wrong place.  Will do when back in my office.

[iphone]

On Feb 27, 2020, at 13:03, Scott Chamberlain <notifications@github.com> wrote:

﻿

thanks for the issue @serbinsh<https://github.com/serbinsh> - can you include your session info please

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/

[2020-03-02 15:50] serbinsh commented on #118
@sckott is this what you were looking for?

[code]

[2020-03-03 16:04] sckott commented on #118
@dlebauer any ideas about the problem above?

[2020-03-04 21:44] dlebauer commented on #118
This is the issue I ran into a few weeks ago and pinged you on slack.

For us the workaround was to replace terraref.org (a forwarded url) with the host name (terraref.nsca.illinois.edu) in the url parameter. It looks like @serbinsh is using the default betydb.org (unless he is setting a different server in the options); knowing that it is happening on multiple servers is useful. But it might be w

[2020-03-30 14:47] sckott opened #119 "from EOL folks"
[code]

[2020-08-17 17:44] mpnelsen opened #120 "ncbi_searcher Error in taxonomy(zz = outsum) : Too Many Requests (RFC 6585) (HTTP 429)."
Hi,

I'm trying to conduct searches for accessions derived from a single gene in a single genus, but am getting an error (below).  I'm wondering if there might be a way I can slow down the taxonomy search inside the function to circumvent this issue?  Thanks for any suggestions!

-Matt.

══  1 queries  ═══════════════

Retrieving data for taxon 'Aster'

✔  Found:  Aster
══  Results  ══════════════

[2020-08-17 18:13] sckott commented on #120
thanks, having a look

[2020-08-17 21:01] #118 closed

[2020-08-17 21:03] sckott opened #121 "betydb test failures"
@dlebauer getting lots of 401 errors in the tests , any ideas?

[code]

[2020-08-17 21:12] sckott opened #122 "usda api is gone for good"
remove usda fxn

[2020-08-17 21:14] sckott commented on #89
done for the most part

[2020-08-17 21:14] #89 closed

[2020-08-17 21:14] #120 closed

[2020-08-17 21:14] #122 closed

[2020-08-17 21:15] sckott commented on #120
@mpnelsen reinstall `remotes::install_github("ropensci/traits")` and try again, we weren't sending the Entrez API key along with requests to NCBI.

[2020-08-17 21:31] mpnelsen commented on #120
Thanks a ton, @sckott

[2020-08-17 21:46] mpnelsen commented on #120
Actually...I'm still getting an error thrown after the update...

api_key<-"xxxxxxx"
set_entrez_key(api_key)
search.res<-ncbi_searcher(taxa="Aster",seqrange="350:5000",verbose=TRUE,fuzzy=TRUE,entrez_query="rbcL")
══  1 queries  ═══════════════

Retrieving data for taxon 'Aster'

✔  Found:  Aster
══  Results  ═════════════════

● Total: 1
● Found: 1
● Not Found: 0
Working on Aster...
...retrieving

[2020-08-17 21:58] sckott commented on #120
did you restart R?

turn on verbose curl output to make sure the key is being sent. you should see it as a query parameter.

[code]

[2020-08-17 22:26] mpnelsen commented on #120
I did...and it looks like it's sending it along (changed to a string of x's here).  Thanks much for your help.

Registered S3 method overwritten by 'hoardr':
  method           from
  print.cache_info httr

══  1 queries  ═══════════════

Retrieving data for taxon 'Aster'

✔  Found:  Aster
══  Results  ═════════════════

● Total: 1
● Found: 1
● Not Found: 0
Working on Aster...
...retrieving sequen

[2020-08-17 23:21] sckott commented on #120
change in 42148b5b26e3f0ffb55e846e3e23dba5d012de66

@mpnelsen  reinstall again. added a `sleep` parameter to this fxn, e.g, i tried it with your eg and with `sleep=2L` and it kept the rate remaining at 9 the whole time.

also i wonder if we have different rate limits b/c i wasn't hitting the 429 error you hit. anyway, this should do it i hope

[2020-08-18 00:28] mpnelsen commented on #120
That did it.  Thx a lot, @sckott

[2020-08-26 17:48] sckott opened #124 "coral API down, make coral fxns defunct"
AFAICT its for good, no response from the contacts found (email/twitter)

[2020-08-26 17:49] #124 closed

[2021-04-30 18:23] rodrigo1406 opened #125 "ncbi_byname('Zea mays','internal transcribed spacer') giving always "Error : Bad Request (HTTP 400)""
My code is simply:

[code]

But it always gives an error message: "Error : Bad Request (HTTP 400)"

What may be going on?

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-05-03 21:43] sckott commented on #125
thanks for the issue!

please run again, then after the error, run `traceback()` and paste in the output (BUT MAKE SURE TO EXCLUDE YOUR PRIVATE NCBI API KEY IF YOU SUPPLIED ONE)

[2021-05-03 23:29] rodrigo1406 commented on #125
[code]

[2021-05-12 22:59] sckott commented on #125
I was able to replicate your issue if I DO NOT have my Entrez API key set. Do you get this in R?

[code]

If yes, then you do not have your NCBI Entrez API key set. Try `taxize::use_entrez()` to get your ENTREZ key, then set your key in R, then try again

[2022-01-03 02:11] kdlafferty opened #126 "odd errors with sequence length queries at ncbi_byname"
"ncbi_byname" works great most of the time (thanks!), but with limited testing fails about 5%.  Which makes searching long lists of species cumbersome. It seems like there are some sequences in ncbii that lead to glitches, and these can be avoided by limiting the length ranges. But it is otherwise unclear why some of these queries fail consistently and other succeed or how to add options to get ar

[2022-01-03 14:32] sckott commented on #126
👋🏽 previous maintainer here. this pkg is no longer maintained. you can still use it of course

[2022-01-03 21:49] kdlafferty commented on #126
thanks.  Will use Rentrez instead.

[2022-09-09 12:01] maelle commented on #126
This repository is about to be archived.

[2022-09-09 12:01] maelle commented on #125
This repository is about to be archived.

[2022-09-09 12:01] maelle commented on #105
This repository is about to be archived.

[2022-09-09 12:01] maelle commented on #104
This repository is about to be archived.

[2022-09-09 12:01] #104 closed

[2022-09-09 12:01] maelle commented on #90
This repository is about to be archived.

[2022-09-09 12:02] maelle commented on #52
This repository is about to be archived.

[2022-09-09 12:02] #52 closed

[2022-09-09 12:02] maelle commented on #84
This repository is about to be archived.

[2022-09-09 12:02] #84 closed

[2022-09-09 12:02] maelle commented on #83
This repository is about to be archived.

[2022-09-09 12:02] #83 closed

[2022-09-09 12:02] #16 closed

[2022-09-09 12:02] #39 closed

[2022-09-09 12:02] #40 closed

[2022-09-09 12:02] #44 closed

[2022-09-09 12:02] #45 closed

[2022-09-09 12:02] #48 closed

[2022-09-09 12:02] #50 closed

[2022-09-09 12:02] #54 closed

[2022-09-09 12:02] #116 closed

[2022-09-09 12:02] #119 closed

[2022-09-13 01:41] dlebauer commented on #126
👋🏻 new maintainer here: package is now unarchived

[2022-09-13 01:54] dlebauer commented on #126
This error still appears to occur in all of the examples above.

Is this worth resolving? e.g. do the ncbi_* functions still provide a value, or does the [rentrez](https://github.com/ropensci/rentrez) package provide the needed functionality, such that the ncbi_* functions in this package could be deprecated?

[2022-09-13 02:15] dlebauer commented on #125
Repository has been unarchived. I've

[2022-09-13 02:27] #125 closed

[2022-09-13 02:29] dlebauer commented on #116
There appear to be titles now

![image](https://user-images.githubusercontent.com/464871/189794200-45a6ad5a-8cd9-43b6-88eb-1fe7912a3454.png)

[2022-09-13 02:35] dlebauer commented on #105
should be easy to implement (?) is there a preferred way to download from Dryad?

[2022-09-13 02:38] dlebauer commented on #54
appears to be mostly a repository of images (?) and location information. Limited traits, no apparent API

[2022-10-07 10:21] boopsboops commented on #126
For what it's worth, I use `ncbi_byid()` function a lot because it returns a nice table. In fact I just noticed this thread when I came here to ask about how to best to fix the http version in the function because it now gives intermittent "Error in the HTTP2 framing layer" errors.

Is it worth posting an issue about this?

[2022-11-09 22:18] sckott opened #128 "change maintainer on cran"
@dlebauer when you get a chance, could you submit a new version to cran changing the maintainer to you? not urgent, but any correspondence from cran will go to me right now, so it'd be good to have it go to you instead. thanks!